.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #000;
  height: 100%;
  margin: 0;
}

.container {
  background-color: rgba(255, 140, 0, 0.1); /* Light orange background for the container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
  position: relative; /* Added for positioning child elements */
}

.grid {
  background-image: linear-gradient(90deg, rgba(255, 140, 0, 0.5) 1px, transparent 1px),
      linear-gradient(rgba(255, 140, 0, 0.5) 1px, transparent 1px);
  background-size: 20px 20px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: 'Open Sans', sans-serif; /* Apply a nice font-family */
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: #ff6600; /* Set logo color to orange (#ff6600) */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing for a more spaced-out look */
}


#imageUpload,
#watermarkUpload,
#horizontalCount,
#verticalCount,
#imageFormat {
margin-bottom: 20px;
padding: 10px;
font-size: 16px;
width: 80%; /* Set a width for input fields */
border: 1px solid #ced4da; /* Gray Border */
border-radius: 5px;
box-sizing: border-box;
}

#imageFormat {
width: auto; /* Auto width for the format display block */
background-color: #d1e7dd; /* Light Green Background */
color: #155724; /* Dark Green Text Color */
border: 1px solid #c3e6cb; /* Green Border */
}

#createCollage {
background-color: #28a745; /* Green Button Background */
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 18px;
transition: background-color 0.3s;
width: 30%; /* Set a width for the button */
}

#createCollage:hover {
background-color: #218838; /* Darker Green on Hover */
}

#collageResult {
margin-top: 20px;
}

#collageResult img {
width: 300px;  /* Set width to 200px */
height: 300px; /* Set height to 200px */
margin-top: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#watermarkUpload {
display: block;
margin-top: 20px;
width: 80%; /* Set a width for the watermark upload input */
}

.upload-field {
display: flex;
flex-wrap: wrap;
gap: 10px; /* Adjust the gap between images */
justify-content: center; /* Center the images */
align-items: center; /* Align images vertically */ 
}

.drop-zone {
border: 2px dashed #ccc;
padding: 20px;
cursor: pointer;
background-color: #ffffff;
border-radius: 5px;
}

#uploadedImages {
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center; /* Center the images */
align-items: center; /* Align images vertically */ 
}

#horizontalCount,
#verticalCount {
width: 100px;
margin: 0 10px;
}

#collagePreview {
width: 100%; 
height: 100%; 
}

